<div class="nav sticky" id="navbar">
    <div class="navbar-menu-left">
        <!-- <div> -->
        <!-- <div class="logo"> -->
        <div style="width: 240px; height: 100%; background:#333333">
            <a href="#">
                <img class="logo1" src="../../../../assets/images/White.png">
            </a>
        </div>
        <div style="position: relative;" id="msbo">
            <!-- <button id="collapseBtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSideBar()" >
                Toggle</button> -->
            <!-- <img class="back-icon" src="../../../../assets/images/back-button.svg"> -->
        </div>
        <div
            style="width: calc(100% - 245px); height: 100%; background:#333333; display: flex; align-items: center;justify-content: space-evenly;">
            <label class="nav-label">Continuous Incident Telemetry</label>
            <div class="navbar-top-right-items">
                <!-- <div>
                    <img src="../../../../assets/images/burger-bar (2) 1.png"> -->


                <!-- </div> -->
                <div (click)="logOut()" style="cursor: pointer;">
                    <img src="../../../../assets/images/out-white.png">
                </div>
                <!-- <div >
                        <img src="../../../../assets/images/settings (3) 1.png">      
                </div> -->
                <div class="navbar">

                    <div class="settings">
                      <button class="dropbtn">  <img src="../../../../assets/images/settings-white.png">    
                        <!-- <i class="fa fa-caret-down"></i> -->
                      </button>
                      <div class="settings-content" *ngIf="isUserInRole([rolesU.SA])">
                        <h2 class="h2style">Account</h2>
                        <a>  <li class="nav__item" >
                            <div class="nav_list" id="mobile-menu-item" (click)="groups(); tab='groups'">
                                <label class="nav_label">
                                    RBAC </label>
                            </div>
                        </li></a>
                        <a>
                            <li class="nav__item" >
                                <div class="nav_list" id="mobile-menu-item" (click)="users(); tab='users'">
                
                                    <!-- <label class="nav_label" (click)="dropDowns()">
                                        <img src="../../../../assets/images/user-mange-cit.png">
                                        User Management</label> -->
                
                                    <!-- <div class="dropdown-content"> -->
                                    <label class="nav_label">
                                        Users </label>
                
                
                
                
                                    <!-- </div> -->
                
                                </div>
                                <!-- <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                                top: 20px;
                                right: 20px;" (click)="dropDowns()"> -->           
                
                
                            </li>
                          
                        </a>
                        <a >
                            <li class="nav__item">
                                <div class="nav_list"  (click)="applications(); tab='application'">
                                    <label class="nav_label">
                                       Add Application </label>
                                </div>
                            </li>
                        </a>
                      </div>
                    </div> 
                  </div>
            </div>

        </div>
    </div>

</div>
<div id="sidenavbar">
    <nav>


        <ul class="nav__list">
            <div class="avatar">
                <img src="../../../../assets/images/User.png" class="avatar-img">
                <!-- <br> -->
                <label style="color:#fff;">{{loginUser}}</label>

            </div>
            <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='incidents'}"
                    (click)="goToIncident(); tab='incidents'" id="mobile-menu-items">

                    <label class="nav_label">
                        <img src="../../../../assets/images/home-white.png">
                        Home</label>

                    <!-- <div class="dropdown-content">

                        <a class="nav_label">

                            Resolution</a>

                        <a class="nav_label">
                            Incident Details</a>

                    </div> -->

                </div>
                <!-- <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                top: 20px;
                right: 27px;" (click)="dropDown()"> -->



            </li>

            <li class="nav__item" *ngIf="isUserInRole([rolesU.SRE , rolesU.GA])">
                <div class="nav_list view-mobile-menu" [ngClass]="{'active': tab==='incidentslist'}" (click)="tab='incidentslist'">
                    <label class="nav_label">
                        <i class="fa-solid fa-circle-plus"></i>Incidents</label>

                        <div class="dropdown-content">
                            <label class="nav_label sub-menu" [ngClass]="{'sideactive': tab==='create-incident'}"
                            (click)="addIncident(); tab='create-incident'"><i class='fa-thin fa-chess-pawn'></i>
                                 Add Incident</label>

                                <label class="nav_label sub-menu" [ngClass]="{'sideactive': tab==='approval'}" 
                                (click)="approvals(); tab='approval'"><i class='fa-thin fa-chess-pawn'></i>
                                   Approvals </label>
                        </div>

                </div>
                 <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                top: 20px;
                right: 27px;" >
            </li>
            <!-- <li class="nav__item" *ngIf="isUserInRole([rolesU.SRE , rolesU.GA])">
                <div class="nav_list" [ngClass]="{'active': tab==='create-incident'}"
                    (click)="addIncident(); tab='create-incident'">
                    <label class="nav_label">
                        <i class="fa-solid fa-circle-plus"></i> Add Incident</label>
                </div>
            </li>
           
          
            <li class="nav__item" *ngIf="isUserInRole([rolesU.GA])">
                <div class="nav_list" [ngClass]="{'active': tab==='approval'}" (click)="approvals(); tab='approval'">
                    <label class="nav_label">
                        <i class="fa-solid fa-users-between-lines"></i>Approvals </label>

                </div>
            </li> -->
            <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='reports'}" (click)="reports(); tab='reports'">
                    <label class="nav_label">
                        <img src="../../../../assets/images/report-white.png"> Report </label>

                </div>
            </li>
            <li class="nav__item" >
                <div class="nav_list " [ngClass]="{'active': tab==='dashboard'}" (click)="tab='dashboard'" >
                    <label class="nav_label" >
                        <img src="../../../../assets/images/dashboard-white.png" style="width: 20px;">
                        Dashboard</label>

                        <div class="dropdown-content view-mobile-menu1"  id="mobile-menu-items1" >

                            <label class="nav_label sub-menu" [ngClass]="{'sideactive': tab==='incidentapp'}"
                            (click)="dashboard(1); tab='incidentapp'"><i class="fa-thin fa-chess-pawn"></i>
                            Incidents By App </label>

                            <label class="nav_label sub-menu" [ngClass]="{'sideactive': tab==='incidentteam'}"
                            (click)="dashboard(2); tab='incidentteam'"><i class='fa-thin fa-chess-pawn'></i>
                            Incidents By Team</label>

                            <label class="nav_label sub-menu" [ngClass]="{'sideactive': tab==='incidentpriority'}"
                            (click)="dashboard(3); tab='incidentpriority'"><i class='fa-thin fa-chess-pawn'></i>
                                Incidents By Priority</label>


                                <label class="nav_label sub-menu" [ngClass]="{'sideactive': tab==='incidenttrend'}"
                                (click)="dashboard(4); tab='incidenttrend'"><i class='fa-thin fa-chess-pawn'></i>
                                    Incident Trend</label>
                                
                                    <label class="nav_label sub-menu" [ngClass]="{'sideactive': tab==='incidenttrend'}"
                                (click)="dashboard(5); tab='incidenttrend'"><i class='fa-thin fa-chess-pawn'></i>
                                     SLA Breached</label>

                    </div>
                </div>
                 <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                top: 20px;
                right: 27px;" (click)="dropDown()" >
            </li>
        </ul>
    </nav>
</div>




