<div class="nav sticky" id="navbar">
    <div class="navbar-menu-left">
        <!-- <div> -->
        <!-- <div class="logo"> -->
        <div style="width: 14%; height: 100%; background: rgba(217, 217, 217, 0.63)">
            <a href="#">
                <img class="logo1" src="../../../../assets/images/cit-logo.PNG">
            </a>
        </div>
        <div style="position: relative;" id="msbo">
            <!-- <button id="collapseBtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSideBar()" >
                Toggle</button> -->
            <img class="back-icon" src="../../../../assets/images/back-button.svg">
        </div>
        <div
            style="width: 100%; height: 100%; background: rgb(217 217 217); display: flex; align-items: center;justify-content: space-evenly;">
            <label class="nav-label">Continous Incident Telemetry</label>
            <div class="navbar-top-right-items">
                <div>
                    <img src="../../../../assets/images/burger-bar (2) 1.png">

                </div>
                <div (click)="logOut()" style="cursor: pointer;">
                    <img src="../../../../assets/images/out 1.png">
                </div>
                <div>
                    <img src="../../../../assets/images/settings (3) 1.png">
                </div>
            </div>

        </div>
    </div>

</div>
<div id="sidenavbar">
    <nav>


        <ul class="nav__list">
            <div class="avatar">
                <img src="../../../../assets/images/User.png">
                <!-- <br> -->
                <label>{{loginUser}}</label>

            </div>
            <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='incidents'}"
                    (click)="goToIncident(); tab='incidents'" id="mobile-menu-items">

                    <label class="nav_label">
                        <i class="fa-solid fa-home"></i>
                        Home</label>

                    <div class="dropdown-content">

                        <a class="nav_label">

                            Resolution</a>

                        <a class="nav_label">
                            Incident Details</a>

                    </div>

                </div>
                <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                top: 20px;
                right: 27px;" (click)="dropDown()">



            </li>

            <li class="nav__item">
                <div class="nav_list">
                    <label class="nav_label">
                        <img src="../../../../assets/images/dashboard-img.png"
                            style="width: 20px; filter: invert(0.6);"> Dashboard</label>
                    <!-- <i class="fa fa-user  fa-2xl icon" style="color: white;"></i>  -->
                    <!-- <img src="../../../../assets/images/users-icon.png" class="icons"> -->
                </div>
            </li>
            <li class="nav__item" *ngIf="isUserInRole([rolesU.SA])">
                <div class="nav_list" id="mobile-menu-item">

                    <label class="nav_label" (click)="dropDowns()">
                        <i class="fa-solid fa-users"></i>
                        Management</label>

                    <div class="dropdown-content">

                        <!-- <div class="nav_list" [ngClass]="{'active': tab==='users'}" (click)="users(); tab='users'"> -->
                        <label class="nav_label" [ngClass]="{'sideactive': tab==='users'}"
                            (click)="users(); tab='users'">
                            <i class="fa-solid fa-user"></i>Users </label>
                        <!-- <i class="fa fa-user  fa-2xl icon" style="color: white;"></i>  -->
                        <!-- <img src="../../../../assets/images/users-icon.png" class="icons"> -->
                        <!-- </div> -->

                        <!-- <div class="nav_list" [ngClass]="{'active': tab==='groups'}" (click)="groups(); tab='groups'"> -->
                        <label class="nav_label" [ngClass]="{'sideactive': tab==='groups'}"
                            (click)="groups(); tab='groups'">
                            <i class="fa-solid fa-users-between-lines"></i>Groups </label>
                        <!-- <i class="fa fa-user  fa-2xl icon" style="color: white;"></i>  -->
                        <!-- <img src="../../../../assets/images/users-icon.png" class="icons"> -->
                        <!-- </div> -->
                        <label class="nav_label" [ngClass]="{'sideactive': tab==='roles'}"
                            (click)="roles(); tab='roles'">
                            <i class="fa-solid fa-users-between-lines"></i>Roles </label>

                    </div>

                </div>
                <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                top: 20px;
                right: 20px;" (click)="dropDowns()">



            </li>

            <li class="nav__item" *ngIf="isUserInRole([rolesU.SRE , rolesU.GA])">
                <div class="nav_list" [ngClass]="{'active': tab==='create-incident'}"
                    (click)="addIncident(); tab='create-incident'">
                    <label class="nav_label">
                        <i class="fa-solid fa-circle-plus"></i> Add Incident</label>
                </div>
            </li>
            <!-- <li class="nav__item">
               
            </li> -->
            <!-- <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='groups'}" (click)="groups(); tab='groups'">
                    <label class="nav_label">
                        <i class="fa-solid fa-users-between-lines"></i>Groups </label>
                </div>
            </li> -->
            <li class="nav__item" *ngIf="isUserInRole([rolesU.GA])">
                <div class="nav_list" [ngClass]="{'active': tab==='approval'}" (click)="approvals(); tab='approval'">
                    <label class="nav_label">
                        <i class="fa-solid fa-users-between-lines"></i>Approvals </label>

                </div>
            </li>
            <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='reports'}" (click)="reports(); tab='reports'">
                    <label class="nav_label">
                        <i class="fa fa-table" aria-hidden="true"></i>Report </label>

                </div>
            </li>
        </ul>
    </nav>
</div>