<div class="nav sticky" id="navbar">
    <div class="navbar-menu-left">
        <!-- <div> -->
        <!-- <div class="logo"> -->
        <div style="width: 14%; height: 100%; background: rgba(217, 217, 217, 0.63)">
            <a href="#">
                <img class="logo1" src="../../../../assets/images/cit-logo.PNG">
            </a>
        </div>
        <div style="position: relative;" id="msbo">
            <!-- <button id="collapseBtn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSideBar()" >
                Toggle</button> -->
            <img class="back-icon" src="../../../../assets/images/back-button.svg">
        </div>
        <div
            style="width: 100%; height: 100%; background: rgb(217 217 217); display: flex; align-items: center;justify-content: space-evenly;">
            <label class="nav-label">Continous Incident Telemetry</label>
            <div class="navbar-top-right-items">
                <div>
                    <img src="../../../../assets/images/burger-bar (2) 1.png">

                </div>
                <div (click)="logOut()" style="cursor: pointer;">
                    <img src="../../../../assets/images/out 1.png">
                </div>
                <div>
                    <img src="../../../../assets/images/settings (3) 1.png">
                </div>
            </div>

        </div>
    </div>

</div>
<div id="sidenavbar">
    <nav>


        <ul class="nav__list">
            <div class="avatar">
                <img src="../../../../assets/images/User.png" class="avatar-img">
                <!-- <br> -->
                <label>{{loginUser}}</label>

            </div>
            <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='incidents'}"
                    (click)="goToIncident(); tab='incidents'" id="mobile-menu-items">

                    <label class="nav_label">
                        <img src="../../../../assets/images/home-cit.png">
                        Home</label>

                    <!-- <div class="dropdown-content">

                        <a class="nav_label">

                            Resolution</a>

                        <a class="nav_label">
                            Incident Details</a>

                    </div> -->

                </div>
                <!-- <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                top: 20px;
                right: 27px;" (click)="dropDown()"> -->



            </li>

            <li class="nav__item" *ngIf="isUserInRole([rolesU.SA])">
                <div class="nav_list" id="mobile-menu-item">

                    <!-- <label class="nav_label" (click)="dropDowns()">
                        <img src="../../../../assets/images/user-mange-cit.png">
                        User Management</label> -->

                    <!-- <div class="dropdown-content"> -->
                    <label class="nav_label" [ngClass]="{'active': tab==='users'}" (click)="users(); tab='users'">
                        <img src="../../../../assets/images/users-cits.png">Users </label>




                    <!-- </div> -->

                </div>
                <!-- <img src="../../../../assets/images/drop-icon.png" style="position: absolute;
                top: 20px;
                right: 20px;" (click)="dropDowns()"> -->



            </li>
            <li class="nav__item" *ngIf="isUserInRole([rolesU.SRE])">
                <div class="nav_list" id="mobile-menu-item">
                    <label class="nav_label" [ngClass]="{'active': tab==='groups'}"
                        (click)="groups(); tab='groups'">
                        <img src="../../../../assets/images/rback-cit.png">RBACK </label>
                </div>
            </li>

            <li class="nav__item" *ngIf="isUserInRole([rolesU.SRE , rolesU.GA])">
                <div class="nav_list" [ngClass]="{'active': tab==='create-incident'}"
                    (click)="addIncident(); tab='create-incident'">
                    <label class="nav_label">
                        <i class="fa-solid fa-circle-plus"></i> Add Incident</label>
                </div>
            </li>
            <!-- <li class="nav__item">
               
            </li> -->
            <!-- <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='groups'}" (click)="groups(); tab='groups'">
                    <label class="nav_label">
                        <i class="fa-solid fa-users-between-lines"></i>Groups </label>
                </div>
            </li> -->
            <li class="nav__item" *ngIf="isUserInRole([rolesU.GA])">
                <div class="nav_list" [ngClass]="{'active': tab==='approval'}" (click)="approvals(); tab='approval'">
                    <label class="nav_label">
                        <i class="fa-solid fa-users-between-lines"></i>Approvals </label>

                </div>
            </li>
            <li class="nav__item">
                <div class="nav_list" [ngClass]="{'active': tab==='reports'}" (click)="reports(); tab='reports'">
                    <label class="nav_label">
                        <img src="../../../../assets/images/report-cit.png"> Report </label>

                </div>
            </li>
            <li class="nav__item">
                <div class="nav_list">
                    <label class="nav_label">
                        <img src="../../../../assets/images/dasboard-cit.png" style="width: 20px;">
                        Dashboard</label>
                </div>
            </li>
        </ul>
    </nav>
</div>