.login-main-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-box {
       width: 1220px;
       height: 603px;
       flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid #E5E5E4;
    }

    .left-col {
        background: #e7e7e7;
        height: 603px;
        flex: 25%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .right-col {
        height: 699px;
        flex: 20%;
        padding: 0 4px;
    }
}
.login-element {
   margin-top: 1rem;
   padding-left: 10%;
   padding-top: 10%;
   .login-table{
       height: 80px;
       
    //    border-top-left-radius: 5px;
    //    border-top-right-radius: 5px;
       background: #E5E4E4;
       border: 1px solid black;
       padding: 10px;
       box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
       border-bottom: none;
       font-style: bold;
        display: flex;
        gap: 7px;
        justify-content: center;
        align-items: center;
       width: 80%;
    //    text-align: center;
       font-family: Montserrat;
       font-style: normal;
    //    font-weight: bold;
       font-size: 40px;
       line-height: 42px;
       color: #131313;
    }
    .login-content{
       overflow: hidden;
       box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
       padding: 10px;
       height: 400px;
       /* margin-left: 70px; */
       width: 80%;
       background: #ffffff;
       font-size: 15px;
    //    border-bottom-left-radius: 5px;
    //    border-bottom-right-radius: 5px;
       border: 1px solid black;
    //    border-top: 3px solid #CB2C27;
       .login-form {
           margin-top: 5rem;
           .form-group {
               width: 95%;
               height: 40px;
               font-size: 13px;
               background: #fff;
               border: 1px solid #E9E9EF;
               box-sizing: border-box;
               border-radius: 6px;
               font-family: Montserrat;
               margin-bottom: 18px;
               .form-control {
                   font-family: Montserrat;
                   // margin-bottom: 18px;
                   font-size: 16px;
                }
                .login-form__footer {
                   margin-top: 4rem;
                }
            }
        }
        
    }
}

.link-label {
    color: #007BFF;
    cursor: pointer;
}


.btn {
   font-family: Montserrat;
   background: #FD5E0F;
   color: #fff;
   text-align: center;
   font-size: 20px;
   font-weight: 400;
   /* line-height: 2.4rem; */
   /* padding: 15px; */
   border-radius: 5px;
   width: 95%;
}
.subDesc {
   margin-left: 7%;
   width: 480px;
   margin-top: 100px;
   font-family: Montserrat;
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
   line-height: 25px;
   color: #344054;
}
.loginImage {
   // position: absolute;
   // bottom: 0px;
   // left: 429px;
   // float: right;
   // margin-left: 7%;
   vertical-align: bottom;
   margin-bottom: 10px;
   height: 30%;
   width: 100%;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

@media screen and (max-width: 1200px) {
   .login-box {
       width: 990px !important;
   }
   .subDesc {
       width: 480px !important;
       margin-top: 120px;
   }
   .loginImage {
       margin-left: 30%;
   }

}