<div class="main-element">

    <div class="main-header">
        <div style="display: flex; justify-content: space-between">
            <label>Incident Approval</label>
        </div>

        <div class="wrapper" style=" border-top: none;">
            <!-- <div class="card2"> -->
            <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" >
                <!-- <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef  class="table-head">{{column}}                       
                    </th>
                    <mat-cell mat-cell *matCellDef="let emp" [ngClass]="emp[column] ">{{ emp[column] }}</mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="IncidentId">
                    <mat-header-cell *matHeaderCellDef> IncidentId </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.IncidentId}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Active">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.Active}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Priority">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.Priority}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="State">
                    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.State}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="OpenedBy">
                    <mat-header-cell *matHeaderCellDef> OpenedBy </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.OpenedBy}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="OpenedDate">
                    <mat-header-cell *matHeaderCellDef> OpenedDate </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.OpenedDate}} </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="ApprovalStatus">
                    <mat-header-cell *matHeaderCellDef> ApprovalStatus </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element"> {{element.ApprovalStatus}} </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="Approve">
                    <mat-header-cell *matHeaderCellDef> Approve </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="approve(element,'APPROVED')">
                            <mat-icon>check</mat-icon>
                        </button>
                        <!-- <i class="material-icons" >Action</i> -->
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Reject">
                    <mat-header-cell *matHeaderCellDef> Reject </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="approve(element,'REJECTED')">
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <!-- <i class="material-icons" >Action</i> -->
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!-- </div> -->
        </div>

    </div>
</div>