.main-element {
    // margin-left: 80px;
    // margin-right: 20px;
    margin-top: 100px;
    
}

.wrapper{
    border: 1px solid #b8b8b8; 
    height:800px;
    background: #333333;
}
:host ::ng-deep {
   
    // .mat-mdc-paginator-container {
    //     justify-content: space-between;
    // }
   
    .mat-mdc-table {
        padding: 0px;
        box-shadow: none;
        cursor: pointer;
        border-collapse: separate;
        border-spacing: 0 7px;
        width: 85%;
        // border-spacing: 0 8px !important;
        margin-top: 20px;
        // margin-left: 7%;
        background-color: #333333;
        
    }


    .mdc-data-table__header-cell {
        background: #282828 !important;
        color: #fff;
        border-right: 1px solid #fff;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 30px;
        // color: #344054;
    }

    .mat-sort-header-arrow {
        color: #fff;
    }

    .mat-mdc-table tbody,
    .mat-mdc-table tfoot,
    .mat-mdc-cell,
    .mat-mdc-footer-cell,
    .mat-mdc-row,
    .mat-mdc-footer-row {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        // background: rgba(220, 220, 220, 0.3);
        // background: rgba(220, 220, 220, 0.30);
        color: #fff;
        border: none;
        padding: 10px;
        
    }
    .mdc-data-table__cell{
        border-bottom: 1px solid rgba(192,192,192,0.43921);
    }
    mat-row.mat-mdc-row:hover {
        background-color: #4E4E4E;
    }

    // mat-cell.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-IncidentId.mat-column-IncidentId{
    //     border-bottom-left-radius: 7px;
    //     // background: rgba(220, 220, 220, 0.30);
    //     border-top-left-radius: 7px;
    // }

    // mat-cell.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Reject.mat-column-Reject {
    //     border-right: none;
    //     border-bottom-right-radius: 7px;
    //     border-top-right-radius: 7px;
    // }
    // .mat-mdc-row {
    //     &:nth-of-type(even) {
    //       //background: #C0C0C070;
    //       padding: 0px;
    //       height: 52px;
    //       margin-top: 10px;
    //       //border-bottom: 1px solid ;
      
    //     }
    //     &:nth-of-type(odd) {
    //         //background: #DCDCDC4D;
    //         padding: 0px;
    //         height: 52px;
    //         margin-top: 10px;
    //         //border-bottom: 1px solid ;
        
    //       }
    // }

}

// .overlay {
// font-family: Montserrat;
// position: fixed;
// top: -20px;
// bottom: -100px;
// left: 0;
// right: 0;
// width: 100%;
// background: rgba(0, 0, 0, 0.7);
// transition: opacity 500ms;
// visibility: visible;
// opacity: 1;
// z-index: 99;

// .popup {
//     width: 32%;
//     height: 400px;
//     margin-left: 34%;
//     margin-top: 8%;
//     background: #FFFFFF;
//     box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
//     border-radius: 15px;

//     .users-popup-details {
//         margin-left: 10%;
//         margin-bottom: 12px;

//         .new-user-label {
//             font-family: Montserrat;
//             font-style: normal;
//             font-weight: bold;
//             font-size: 25px;
//             line-height: 30px;
//             margin-top: 30px;
//             color: #474A4E;
//         }

//         .users-close-icon {
//             float: right;
//             margin-right: 8%;
//             margin-top: 7%;
//             cursor: pointer;
//         }

//     }

//     .user-save-button {
//         width: 58px;
//         height: 40px;
//         background: #1A73E8;
//         border-radius: 4px;
//         border: none;
//         color: #FFFFFF;
//         font-weight: bold;
//         font-size: 13px;
//         font-family: Montserrat;
//     }

//     .users-cancel-button {
//         width: 58px;
//         height: 40px;
//         margin-left: 12px;
//         background: transparent;
//         border-radius: 4px;
//         border: 1px solid #D8D8D8;
//         font-weight: bold;
//         font-size: 13px;
//         font-family: Montserrat;
//         color: #344054;
//         font-weight: bold;
//         font-size: 13px;
//     }
// }
// }