<div class="main-element">
    <div class="main-header">
        <label style="color: #FFF;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
        ">Incidents</label>

        <div class="flex-container">

            <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-12 "> -->
            <div class="numberCard" style="background-color: #333333">
    
              <div>
                <label class="presetLabel">Open Incidents </label>
                <div style="border: 1px solid #333333;"></div>
    
              </div>
              <div class="countLabel"> {{cardData?.openIncidentsCount}}</div>
            </div>
            <div class="numberCard" style="background-color: #333333;">

                <div >
                  <label class="presetLabel">Closed Incidents </label>
                  <div style="border: 1px solid #333333;"></div>
      
                </div>
                <div class="countLabel"> {{cardData?.closedIncidentsCount}}</div>
              </div>
              <div class="numberCard" style="background-color: #333333;">
      
                <div>
                  <label class="presetLabel">UnAssigned Incidents </label>
                  <div style="border: 1px solid #333333;"></div>
      
                </div>
                <div class="countLabel"> {{cardData?.unAssignedIncidentsCount}}</div>
              </div>
              <div class="numberCard" style="background-color: #333333;">
      
                <div >
                  <label class="presetLabel"> SLA Breached Incidents</label>
                  <div style="border: 1px solid #333333;"></div>
      
                </div>
                <div class="countLabel"> {{cardData?.slaBreachedIncidentsCount}}</div>
              </div>
              <div class="numberCard" style="background-color: #333333;">
      
                <div>
                  <label class="presetLabel">InProgress Incidents </label>
                  <div style="border: 1px solid #333333;"></div>
      
                </div>
                <div class="countLabel"> {{cardData?.inProgressIncidentsCount}}</div>
              </div>
              <div class="numberCard" style="background-color: #333333;">
      
                <div>
                  <label class="presetLabel">High Priority Incidents</label>
                  <div style="border: 1px solid #333333;"></div>
      
                </div>
                <div class="countLabel" > {{cardData?.openP1IncidentsCount}}</div>
              </div>
        </div>


        <div>
            <div class="table-main">
                <!-- <div>
                    <i class="fa fa-refresh fa-xs"></i>
                </div> -->
                <div class="search-container">
                    <i class="fa-solid fa-magnifying-glass fa-xs"
                        style="color: #676767; margin-left: 10px;font-size: 19px;"></i>
                    <input type="text" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onInputChange()"
                        class="search-input" placeholder="Search using Text/Date" [(ngModel)]="searchText"
                        (keyup.enter)="onInputChange()" />
                    <button class="btn btn-primary calender-icon" (click)="d.toggle()"><i
                            class="fa fa-calendar"></i></button>

                </div>

            </div>
            <div *ngIf="showloader" class="example-loading-shade ">
                <div style="position: relative;">
                    <mat-progress-spinner color="primary" diameter="40" mode="indeterminate" style="position: absolute;
                    top: 0px;
                    left: 0px;">
                    </mat-progress-spinner>
                </div>

            </div>

            <div class="wrapper">
                
              
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayCols">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-head">{{column}}
                            <!-- <div class="search-container search-box" >
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search" (keyup)="searchPageFilter($event)" />
    
                    </div> -->
                        </th>
                        <td mat-cell *matCellDef="let emp" [ngClass]="emp[column] ">{{ emp[column] }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayCols"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayCols" (click)="viewIncident(emprow)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="itemsPerPage" showFirstLastButtons (page)="onPageChange($event)"
                aria-label="Select page"></mat-paginator>
            </div>
        </div>

    </div>
    <!-- </div> -->
</div>

<div class="overlay" *ngIf="logGroupPopup">
    <div class="delete-popup">
        <div class="view-popup-label">
            <label>Login Success</label>
        </div>
        <div class="content">
            <div>
                <!-- <div>
                    <label class="steps-label">User Logged in Successfully</label>
                </div> -->
                <div style="padding: 10px;">
                    <img src="../../../../../assets/images/check 2.png">
                </div>
                <div>
                    <label class="steps-content">Please choose a group to Proceed</label>
                </div>
                <br>
                <br>
                <div style="text-align: left;
                padding-left: 80px;">
                    <mat-selection-list [multiple]="false" [(ngModel)]="selectedGroup"
                                        [ngModelOptions]="{standalone: true}">
                                        <mat-list-option *ngFor="let item of grouplist" [value]="item.groupId">
                                          <div>  {{ item.groupName }}</div>
                                        
                                        </mat-list-option>
                                    </mat-selection-list>
                </div>
            </div>
        </div>
        <div>
            <button class="add-btn" (click)="logGroup()">Proceed</button>
        </div>
    </div>
</div>