<div class="main-element">
    <div class="main-header">
        <label>Incidents</label>
        <div>
            <div class="table-main">
                <!-- <div>
                    <i class="fa fa-refresh fa-xs"></i>
                </div> -->
                <div class="search-container">
                    <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                    <input type="text" class="search-input" placeholder="Search" (keyup)="searchPageFilter($event)" />

                </div>
                <div >                   
                  
                    <!-- <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start date">
                          <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field> -->
                  </div>
            </div>
            
            <div class="wrapper">
                <!-- <div style="display: flex; gap: 25px; width: 89%;">
                    <div class="search-container" style="width: 176px;
                    height: 30px;
                    ;">
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search Number" (keyup)="searchPageFilter($event)" />
    
                    </div>
                    <div class="search-container" style="width: 164px;
                    height: 30px; ;">
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search Active" (keyup)="searchPageFilter($event)" />
    
                    </div>
                    <div class="search-container" style="width: 140px;
                    height: 30px;
                    ;">
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search state" (keyup)="searchPageFilter($event)" />
    
                    </div>
                    <div class="search-container" style="width: 140px;
                    height: 30px;
                    ;">
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search priority" (keyup)="searchPageFilter($event)" />
    
                    </div>
                    <div class="search-container" style="width: 252px;
                    height: 30px;
                    ;">
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search Opened Date" (keyup)="searchPageFilter($event)" />
    
                    </div>
                    <div class="search-container" style="width: 139px;
                    height: 30px;
                    ;">
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search Assigned To" (keyup)="searchPageFilter($event)" />
    
                    </div>
                </div> -->
                <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons  (page)="onPageChange($event)" aria-label="Select page"></mat-paginator>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayCols">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="table-head">{{column}}
                            <!-- <div class="search-container search-box" >
                        <i class="fa-solid fa-magnifying-glass fa-xs"style="color: #676767; margin-left: 10px;"></i>
                        <input type="text" class="search-input" placeholder="Search" (keyup)="searchPageFilter($event)" />
    
                    </div> -->
                        </th>
                        <td mat-cell *matCellDef="let emp" [ngClass]="emp[column] ">{{ emp[column] }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayCols"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayCols" (click)="viewIncident(emprow)"></tr>
                </table>                
            </div>
        </div>

    </div>
    <!-- </div> -->
</div>