.main-element {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;

    .table-main {
        display: flex;
        height: 60px;

        margin-top: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: rgb(0 108 190);
        // background: #F5F2F2;
        padding: 10px;
        box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
        border-bottom: none;
        font-style: bold;

        font-family: inter;
        font-style: normal;
        font-weight: bolder;
        font-size: 30px;

        color: #131313;
        align-items: baseline;
        justify-content: space-between;
    }

    .wrapper {
        overflow: hidden;
        padding: 10px;
        // background: linear-gradient(270deg,#e8807f,#e6c84f);
        // background: #ffffff;
        font-size: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: 3px solid #2766cb;
        border-bottom: 3px solid #2766cb;
    }
}

:host ::ng-deep {

    .mat-mdc-table {
        cursor: pointer;
        border-collapse: initial;
        width: 85%;
        border-spacing: 0 8px !important;
        margin-top: 20px;
        // margin-left: 7%;
    }
   

    .mdc-data-table__header-cell {
        text-align: center;
        font-family: inter;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        color: #344054;
    }

    .mat-mdc-table tbody,
    .mat-mdc-table tfoot,
    .mat-mdc-cell,
    .mat-mdc-footer-cell,
    .mat-mdc-row,
    .mat-mdc-footer-row {
        font-family: inter;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #393939;
        border: none;
        padding-top: 20px;
    }
.mat-mdc-row {
    &:nth-of-type(even) {
        background: #eeeeee;
    }
}

}

.open {
    color: 
    #27CB4B;
}
.in-progress {
    color: #FCCA59 !important; 
}
.on-hold {
    color: #fc6f59 !important; 
}

.closed {
    color: red;
}

.moderate {
    color: orange;
}

.normal {
    color: green;
}