.main-element {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 100px;

    .table-main {
        display: flex;
        height: 60px;

        margin-top: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        // background: rgb(0 108 190);
        // background: #F5F2F2;
        padding: 10px;
        // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
        border-bottom: none;
        font-style: bold;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bolder;
        font-size: 30px;

        color: #131313;
        align-items: baseline;
        justify-content: space-between;
    }

    .wrapper {
        overflow: hidden;
        padding: 10px;
        // background: linear-gradient(270deg,#e8807f,#e6c84f);
        // background: #ffffff;
        font-size: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: 3px solid #ff5e10;
        border-bottom: 3px solid #ff5e10;
    }
}

:host ::ng-deep {

    .mat-mdc-table {
        padding: 0px;
        box-shadow: none;
        cursor: pointer;
        border-collapse: separate;
        border-spacing: 0 7px;
        width: 85%;
        // border-spacing: 0 8px !important;
        margin-top: 20px;
        // margin-left: 7%;
    }


    .mdc-data-table__header-cell {
        background: #676767 !important;
        color: #fff;
        border-right: 1px solid #fff;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        // color: #344054;
    }

    .mat-sort-header-arrow {
        color: #fff;
    }

    .mat-mdc-table tbody,
    .mat-mdc-table tfoot,
    .mat-mdc-cell,
    .mat-mdc-footer-cell,
    .mat-mdc-row,
    .mat-mdc-footer-row {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        // background: rgba(220, 220, 220, 0.3);
        // background: rgba(220, 220, 220, 0.30);
        color: #393939;
        border: none;
        padding: 18px
    }

    .mat-mdc-table tbody :hover {
        background-color: #C0C0C070;
    }

    td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Number.mat-column-Number.ng-star-inserted {
        border-bottom-left-radius: 7px;
        // background: rgba(220, 220, 220, 0.30);
        border-top-left-radius: 7px;
    }

    td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-AssignedTo.mat-column-AssignedTo.ng-star-inserted {
        border-right: none;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }

    .mdc-data-table__row .mdc-data-table__cell {
        border-right: 1px solid #000;
    }

    .mat-mdc-row {
        &:nth-of-type(even) {
          background: #C0C0C070;
        }
        &:nth-of-type(odd) {
            background: #DCDCDC4D;
          }
    }

}

.closed {
    color:
        #27CB4B;
}

.progress {
    color: #FCCA59 !important;
    height: 0%;
    border-radius: 1px;
}

.resolved {
    color: #FD5E0F !important;
}

.open {
    color: red;
}

.moderate {
    color: orange;
}

.normal {
    color: green;
}

@media screen and (max-width: 1200px) {
    // .login-box {
    //     width: 990px !important;
    // }
    // .subDesc {
    //     width: 480px !important;
    //     margin-top: 120px;
    // }
    // .loginImage {
    //     margin-left: 30%;
    // }

}