<div class="main-element">
  <div class="main-header">
    <label style="color:#FFF;">Add Group</label>
        <div style="border: 1px solid #b8b8b8; background: #333333;">
            <div class="card2">
               
            </div>
            <form [formGroup]="addGroupForm">
                <div>
                  <div class="form-group">
        
                    <label class="form-label">Group Name</label>
                    <input matInput type="text" class="form-control" formControlName="groupname" name="groupname" required>
        
                  </div>
              
                  <div class="form-group">
        
                    <label class="form-label">Is Active</label>
                    <input matInput type="text" class="form-control" formControlName="isactive" name="isactive" required>
        
                  </div>
                  <div class="form-group">
                    <label class="form-label">Applications</label>
                    <mat-select  class="form-control"  formControlName="application" name="application">
        
                    <mat-option *ngFor="let item of applicationList" [value]="item.name">{{
                        item.name
                        }}
                    </mat-option>
                </mat-select>
                  </div>
                  <div class="form-group">

                    <label class="form-label">Group Owner:</label>
                   
                    <mat-select [(ngModel)]="selectedUser" class="form-control" [ngModelOptions]="{standalone: true}">
                      <mat-option [value]="undefined">{{defaultSelection}}</mat-option>
                      <mat-option *ngFor="let item of usrList" [value]="item.userId">{{ item.username }}</mat-option>
                    </mat-select>
      
                  </div>
                  <!-- <div class="form-group">
        
                    <label class="form-label">Features Allowed </label>
                    <input matInput type="text" class="form-control" formControlName="allowed" name="allowed" required>
        
                  </div> -->
          <div>
            <button class="button-29" (click)="addGroup()">Add Group</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>