<div class="main-element">
  <div class="container main-header">
    <div class="breadcrumbs-cvr">
      <span><a href="/users">Users</a></span>
      <span>></span>
      <span class="active">Add Roles</span>
    </div>
    <label>Create Role</label>
    <div style="border: 1px solid #b8b8b8; border-top: none;">
      <div class="card2">
      </div>
      <form [formGroup]="createRole">
        <div>
          <div class="form-group">

            <label class="form-label">Role name</label>
            <input matInput type="text" class="form-control" formControlName="rolename" name="rolename" required>

          </div>
          <div class="form-group">

            <label class="form-label">Role Code</label>
            <input matInput type="text" class="form-control" formControlName="rolecode" name="rolecode" required>

          </div>
          <div class="form-group">

            <label class="form-label">Is Active</label>
            <input matInput type="text" class="form-control" formControlName="isactive" name="isactive" required>

          </div>
          <div class="form-group">

            <label class="form-label">Features Denied</label>
            <input matInput type="text" class="form-control" formControlName="denied" name="denied" required>

          </div>
          <!-- <div class="form-group">

            <label class="form-label">Features Allowed </label>
            <input matInput type="text" class="form-control" formControlName="allowed" name="allowed" required>

          </div> -->
          <div>
            <button class="button-29" (click)="addRole()" [hidden]="hideAdd">Add Role</button>
            <button class="button-29" (click)="EditRole()" [hidden]="hideEdit" >Update Role</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="main-header">
    <div>
      <label>Roles</label>
    </div>

    <div>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Role Id">
          <mat-header-cell *matHeaderCellDef> Role Id </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.roleid}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Role Code">
          <mat-header-cell *matHeaderCellDef> Role Code </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rolecode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Role Name">
          <mat-header-cell *matHeaderCellDef> Role Name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rolename}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Is Active">
          <mat-header-cell *matHeaderCellDef> Is Active </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.isactive == true">
              <label class="statusLabel" [ngClass]="element.isactive">{{element.isactive}}</label>
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Delete">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="deleteRole(element)">
                  <mat-icon>cancel</mat-icon>
              </button>
              <!-- <i class="material-icons" >Action</i> -->
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="modifyRole(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <!-- <i class="material-icons" >Action</i> -->
        </mat-cell>
    </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>
</div>