.main-element {
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 100px;
  .breadcrumbs-cvr {
    padding: 5px 0px;
    // margin-left: 70px;

    span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 31px;
      display: inline-block;
      align-items: center;
      cursor: pointer;
      color: #999FA9;
      padding: 0px 5px 0px 0px;

      a {
        text-decoration: none;
        color: #999FA9 !important;
      }

      a:hover {
        text-decoration: none;
        color: #fd5e00 !important;
      }

    }

    .active {
      color: #fd5e00 !important;
    }
  }

  .card2 {
    // height: 60px;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #676767;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
    border-bottom: none;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    // margin-left: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    color: #fff;
  }

  .form-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .form-label {
    width: 200px;
    height: 30px;
    padding: 4px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* flex-shrink: 0; */
    background: #D9D9D9;
  }

  .form-control {
    width: 300px;
    // height: 37px;
    color: #656565;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    background: #FAFAFA;
    box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
  }

}

:host ::ng-deep {

  .mat-mdc-table {
    padding: 0px;
    box-shadow: none;
    cursor: pointer;
    border-collapse: separate;
    border-spacing: 0 7px;
    width: 85%;
    // border-spacing: 0 8px !important;
    margin-top: 20px;
    // margin-left: 7%;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    width: 70%;
  }

  .mdc-data-table__header-cell {
    // background: linear-gradient(180deg, #CB2C27 0%, #FD5E0F 100%) !important;
    color: #393939;
    // border-right: 1px solid #fff;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    // margin-bottom: 10px !important;
    // color: #344054;
  }

  .mat-sort-header-arrow {
    color: #fff;
  }

  .mat-mdc-table tbody,
  .mat-mdc-table tfoot,
  .mat-mdc-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-row,
  .mat-mdc-footer-row {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    // background: rgba(220, 220, 220, 0.3);
    // background: rgba(220, 220, 220, 0.30);
    color: #000;
    border: none;
    height: 58px;
    // padding: 6px
  }

  mat-row.mat-mdc-row.mdc-data-table__row.cdk-row:hover {
    background: none;
  }

  mat-cell.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Test-scenario.mat-column-Test-scenario {
    border-bottom-left-radius: 7px;
    // background: rgba(220, 220, 220, 0.30);
    border-top-left-radius: 7px;
  }

  td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-AssignedTo.mat-column-AssignedTo.ng-star-inserted {
    border-right: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }



  .mat-mdc-row {
    &:nth-of-type(even) {
      // background: #C0C0C070;
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin-bottom: 10px !important;
    }

    &:nth-of-type(odd) {
      // background: #DCDCDC4D;
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin-bottom: 10px !important;
    }
  }
}

.statusLabel {
  width: 90px;
  // border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 8px;
  // color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  line-height: 13px;
  color: #000000;
  font-weight: 700;
  color: #58d754;
  padding-left: 25px;
  // padding-right: 17px;
  background: #e5f9ea;

}
.button-29 {
  margin-left: 40%;
  margin-top: 20px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff8e5a 0, #FD5E0F 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat";
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #ff8e5a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #ff8e5a 0 3px 7px inset;
  transform: translateY(2px);
}