.main-element {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 100px;
  
    .breadcrumbs-cvr {
      padding: 5px 0px;
      // margin-left: 70px;
  
      span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 31px;
        display: inline-block;
        align-items: center;
        cursor: pointer;
        color: #999FA9;
        padding: 0px 5px 0px 0px;
  
        a {
          text-decoration: none;
          color: #999FA9 !important;
        }
  
        a:hover {
          text-decoration: none;
          color: #fd5e00 !important;
        }
  
      }
  
      .active {
        color: #fd5e00 !important;
      }
    }
  }

  .card2 {
    // height: 60px;
    line-height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #282828;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 30px;
    // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
    border-bottom: none;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    // margin-left: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  
  .form-group {
    display: flex;
    gap: 10px;
    align-items: baseline;
    // justify-content: space-evenly;
  }
  
  .testplan-form {
    position: relative;
    // display: flex;
    //justify-content: space-around;
  }
  
  .form-label {
    width: 200px;
    height: 30px;
    padding: 4px;
    color: #ffff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* flex-shrink: 0; */
    background: #000000;
  }
  .button-29 {
    margin-left: 90%;
    margin-top: 100px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ff8e5a 0, #FD5E0F 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Montserrat";
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #ff8e5a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #ff8e5a 0 3px 7px inset;
    transform: translateY(2px);
  }

  .form-control {
    //width: 230px;
    height: 37px;
    color: #656565;
    font-family: montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    background: #FAFAFA;
    box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
  }

  .file-Upload{
    width: 300px;
    // height: 37px;
    color: #656565;
    font-family: montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
  }
  .box{
    max-width: 500px;
    //padding: 30px;
    width: 100%;
    border-radius: 5px;
  
  }
  .uploadlabel{
    width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #9a9c9d;// #18a7ff82;
    font-family: montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
  }

  .uploadlabel span{

    font-size: 70px;
    color:#9a9c9d;// #18a7ff;
  }

  .uploadlabel p{

    font-size: 14px;
    color:#9a9c9d;// #18a7ff;
    font-weight: 800;
    font-family: cursive;
  }

  .uploaded{
    //margin: 30px 0;
    font-size: 16px;
    font-weight: 700px;
    color: #a5a5a5;
  }

  .showfilebox{
    display: flex;
    //align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px,
    #d1d5db3d 0px 0px 0px 1px inset;
    width: 450px;
    align-items:flex-start;
    flex-direction:column;
    max-height: 400px;
    overflow-y: scroll;
  }

  .showfilebox .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
  }

  .filetype{
    //background:#9a9c9d;// #18a7ff;
    //color:#fff;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    color: #a5a5a5;
    
  }

  .left h3{
    font-weight: 600px;
    font-size: 15px;
    color: #292F42;
    margin:0;
  }

  .right span {
    background: #9a9c9d;
    color:#fff;
    width:25px;
    height:25px;
    font-size:25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700px;
    cursor: pointer;
    border-radius: 50%;
  }

  .textarea-comments {

    padding: 8px;
    width: 450px;
    height: 140px;
    flex-shrink: 0; 
    border: 1px solid #DADADA;
    background: #FFF;
    color: black;
   font-size: 16px;
    font-family: Montserrat;
    margin: 5px;
    max-width: 450px; 
  }

  