<div class="main-element">
  <div class="btn-container">
    <label class="switch btn-color-mode-switch">
      <input type="checkbox" name="color_mode" id="color_mode" value="1" (click)="togglePage()">
      <label for="color_mode" data-on="Groups" data-off="Roles" class="btn-color-mode-switch-inner"></label>
    </label>
  </div>

  <!-- Roles Page starts here -->
  <div class="button-outer-element">
    <button *ngIf="isPageOne" class="create-new-btn">
      Add New Role
    </button>
    <button *ngIf="!isPageOne" class="create-new-btn">
      Add New Group
    </button>
  </div>
  <div>
    <app-role-page *ngIf="isPageOne"></app-role-page>
  </div>

  <!-- Groups Page starts here -->

<div>
  <app-group-page *ngIf="!isPageOne"></app-group-page>
</div>

</div>