<div class="main-header" style="margin-top: 50px;" data-aos="fade-left" data-aos-delay="200" data-aos-duration="600">
  <mat-accordion displayMode="flat" multi class="mat-table">
    <section class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell">Group Id</span>
      <!-- <span class="mat-header-cell1">Steps</span> -->
      <span class="mat-header-cell1">Group Name</span>
      <span class="mat-header-cell2">Is Active</span>
    </section>
    <mat-expansion-panel *ngFor="let group of groupList; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{group.groupid}}
        </mat-panel-title>
        <mat-panel-title>
          {{group.groupname}}
        </mat-panel-title>
        <mat-panel-title *ngIf="group.isactive == true">
          <label class="statusLabel" [ngClass]="group.isactive">True</label>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="features-denied">
        <div style="display: flex;height: 88px;justify-content: flex-start;"> 
          <div class="tag-content" *ngIf="group.addfeature">
           
            <form [formGroup]="createGroup">
              <div class="form-group">

                <label class="form-label">Group name</label>
                <input matInput type="text" class="form-control" formControlName="groupname" name="groupname" required>

              </div>
            </form>
            <div>
              <label class="tag-label">Applications</label>    
              <mat-select  class="form-control">
  
              <mat-option *ngFor="let item of applicationList" [value]="item.name">{{
                  item.name
                  }}
              </mat-option>
          </mat-select>
            </div>
            <div>
              <button class="add-tag-btn">Add</button>
            </div>

          </div>
        </div>
        
        <div
          style="overflow-y: scroll; margin-top: 20px; border: 1px solid #DADADA; background: #FFF; max-width: 450px; height: 186px;">
          <div class="tags-bottom" *ngFor="let feature of group.applications; let a = index">
            <div class="tag-card">
              {{feature}}
              <i class="fa fa-times" style="cursor:pointer"></i>
            </div>

          </div>
        </div>
        

        <div style="display: flex; margin-top: 20px; gap: 10px;">
          <div>
            <button class="save-btn" (click)="modifyGroup(group)">Save</button>
          </div>
          <div>
            <button class="delete-btn" (click)="deleteGroup(group)">Delete group</button>
          </div>
          <div>
            <button class="edit-btn" (click)="editAccordian(group,i)">Edit</button>
          </div>
          <div>
            <button class="cancel-btn" (click)="cancelChanges(group)">cancel</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>