<!-- <div class="row">
    <div class="column1">
      <canvas baseChart 
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType">
    </canvas>
    </div>
    <div class="column1">
      <canvas class="doughnut" baseChart [data]="doughnutChartData1" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType1"
      [legend]=false [colors]="doughnutChartColors" [options]="doughnutChartOptions1"  [plugins]="doughnutChartPlugins" size="50">
  </canvas>
    </div>
</div> -->
<div class="main-element">
  <div class="main-header" style="background: #fff;">
    <label>Dashboard</label>

    <div>

      <div class="flex-container">

        <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-12 "> -->
        <div class="numberCard">

          <div>
            <label class="presetLabel">Open Incidents </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
          <div class="countLabel"> 6</div>
        </div>
        <div class="numberCard">

          <div>
            <label class="presetLabel">Closed Incidents </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
          <div class="countLabel"> 2</div>
        </div>
        <div class="numberCard">

          <div>
            <label class="presetLabel">Open Major Incidents </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
          <div class="countLabel"> 3</div>
        </div>
        <div class="numberCard">

          <div>
            <label class="presetLabel">Incidents closed within SLA </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
          <div class="countLabel"> 100%</div>
        </div>
        <div class="numberCard">

          <div>
            <label class="presetLabel">Open Incidents </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
          <div class="countLabel"> 6</div>
        </div>
        <!-- </div> -->
      </div>
      <div class="flex-container" style="margin-top: 20px;">
        <div class="numberCard" style="    height: 288px;
        width: 455px;">
          <div>
            <label class="presetLabel">Incidents </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
         
          <div class="column1">
            <canvas class="doughnut" baseChart [data]="doughnutChartData1" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType1"
            [legend]=false [colors]="doughnutChartColors" [options]="doughnutChartOptions1"  [plugins]="doughnutChartPlugins" size="50">
        </canvas>
          </div>
        
        </div>
        <div class="numberCard" style="    height: 288px;
        width: 455px;">
          <div>
            <label class="presetLabel">Incidents </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
         
          <div class="column1">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
          </div>
        
        </div>
      </div>
    </div>