
<div class="main-element">
  <div class="main-header" style="background: #fff;">   

    <div>

      <div class="flex-container" style="padding-left: 30px;">
        <label>Dashboard</label>

       
      </div>
      <div class="flex-container" style="margin-top: 20px; justify-content: space-evenly;" *ngIf="optionSelected==1">
        <div class="numberCard" style="    height: 500px;
        width: 700px;">
          <div>
            <label class="presetLabel">Incidents by Application </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>
         
          <div class="column1" style="margin-top: 30px;">
            <canvas class="doughnut" baseChart [data]="doughnutChartData1" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType1"
            [legend]=true [colors]="doughnutChartColors" [options]="doughnutChartOptions1"  [plugins]="doughnutChartPlugins" size="90">
          </canvas>
          </div>
        
        </div>
                
      </div>
    </div>
    <div  class="flex-container" style="margin-top: 20px; justify-content: space-evenly;" *ngIf="optionSelected==2">
      <div style="width:60%">
        <canvas   id="mychart" width="500px" height="250" #mychart >         

        </canvas>
      </div>
    </div>
    <div  class="flex-container" style="margin-top: 20px;justify-content: space-evenly;" *ngIf="optionSelected==5">
      <div class="numberCard" style="    height: 500px;
        width: 600px;">
          <div>
            <label class="presetLabel">SLA about to breach </label>
            <div style="border: 1px solid #bbbb;"></div>

          </div>        
          
          <div class="column1" style="margin-top: 30px;">
            <canvas class="doughnut" baseChart 
            [data]="doughnutChartData" 
            [labels]="doughnutChartLabels" 
            [chartType]="doughnutChartType"
            [legend]=true [colors]="doughnutChartColors"   size="100">
          </canvas>
          </div>
        
        </div>

    </div>
    <div  style="display: flex;justify-content: space-evenly;" *ngIf="optionSelected==3">
      
          <div class="column1" style="width:60%" >
            <!-- <label>Incidents by Priority</label> -->
            <canvas  id="mychart1" width="500px" height="250" #mychart1 >
              
            </canvas>
          </div > 
    </div>
    <div  style="display: flex;justify-content: space-evenly;" *ngIf="optionSelected==4">
          <div class="column1" style="width:60%" >
            <!-- <label>Incident Trend</label> -->
            <canvas id="myChart3" width="500px" height="250" #mychart3></canvas>
          </div>
    </div>
  </div>
</div>