.main-element {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 100px;

}
.card2 {
    // height: 60px;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #676767;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
    border-bottom: none;
    font-style: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    // margin-left: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    color: #fff;
  }
  .form-group {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: space-evenly;
  }
  
  .form-label {
    width: 200px;
    height: 30px;
    padding: 4px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* flex-shrink: 0; */
    background: #D9D9D9;
  }
  
  .form-control {
    width: 300px;
    height: 37px;
    color: #656565;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    background: #FAFAFA;
    box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
  }