.main-element {
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 100px;

  .breadcrumbs-cvr {
    padding: 5px 0px;
    // margin-left: 70px;

    span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 31px;
      display: inline-block;
      align-items: center;
      cursor: pointer;
      color: #999FA9;
      padding: 0px 5px 0px 0px;

      a {
        text-decoration: none;
        color: #999FA9 !important;
      }

      a:hover {
        text-decoration: none;
        color: #2367dd !important;
      }

    }

    .active {
      color: #2367dd !important;
    }
  }

}


.outer-box {
  border: 1px solid #b8b8b8;
  border-top: none;
  background: #F7F7F7;

}

.card2 {
  // height: 60px;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #676767;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
  border-bottom: none;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  // margin-left: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}

.inner-box {

  // border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
  border-top: none;
  border: 1px solid #ddd;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#resolution tr:nth-child(odd) {
  border-bottom: 1px solid #000;
  // opacity: 0.5;
  background: rgba(220, 220, 220, 0.30);
  box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
}

#resolution tr:nth-child(even) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  background: rgba(192, 192, 192, 0.44);
  box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
}

.viewbtn {
  width: 120px;
  height: 35px;
  background: #676767;
  border-radius: 5px;
  border: none;
  float: right;
  color: rgb(255 255 255);

}

// .addbtn {
// width: 81px;
// height: 30px;
//   flex-shrink: 0;
//   border-radius: 5px;
//   background: #000;
//   color: #FFF;
//   font-family: Montserrat;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
// }
.addbtn {
  // margin-left: 30%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat";
  // height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 81px;
  height: 35px;
}

.addbtn:focus {
  box-shadow: #FD5E0F 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
}

.addbtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
  transform: translateY(-2px);
}

.addbtn:active {
  box-shadow: #FD5E0F 0 3px 7px inset;
  transform: translateY(2px);
}

textarea {

  padding: 8px;
  width: 640px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  //max-width: 640px; 
}

.tblborder {
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
  /* Background color for the outer box */
  border: 1px solid gray;
  /* Gray border for the outer box */
  //padding: 10px;
  position: absolute;
  //margin-top: 0;
  top: 0;
  //border-top-left-radius: 4px; 
  //border-top-right-radius: 4px;
  //flex-shrink: 0;
  //border-radius: 4px 4px 0px 0px;
  //background: #F5F5F5;
}

.create-btn {
  // margin-left: 30%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat";
  // height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  font-weight: 700;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 285px;
  height: 40px;
  margin-left: 444px;
}

.create-btn:focus {
  box-shadow: #FD5E0F 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
}

.create-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
  transform: translateY(-2px);
}

.create-btn:active {
  box-shadow: #FD5E0F 0 3px 7px inset;
  transform: translateY(2px);
}

.overlay {
  font-family: Montserrat;
  position: fixed;
  top: -20px;
  bottom: -100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 99;

  .delete-popup {
    width: 882px;
    height: 550px;
    // margin-left: 30%;
    // margin-top: 6%;
    background: #fff;
    box-shadow: 1px 1px 15px #0000001a;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    .view-popup-label {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      font-family: Montserrat;
      font-size: 32px;
      padding: 8px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      height: 60px;
      background: #676767;
      color: #ffff;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      text-align: center;
    }

    .content {
      padding: 13px;

      .steps-label {
        width: 225px;
        height: 30px;
        color: #000;
        font-family: Montserrat;
        font-size: 16px;

        font-style: normal;
        padding: 6px;
        font-weight: 500;

        background: #D9D9D9;
      }

      .steps-content {
        margin-top: 7px;
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  .form-group {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .form-label {
    width: 175px;
    height: 30px;
    padding: 4px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* flex-shrink: 0; */
    background: #D9D9D9;
  }

  .form-control {
    // max-width: 480px;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    padding: 2px;
    width: 175px;
    height: 27px;
    color: #656565;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    background: #FAFAFA;
    box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
  }

  .execute-btn {
    background: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
    ;
    height: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
  }

  .cancel-btn {
    background: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #080808;
  }

}