<div class="main-element">
    <div class="main-header">
        <div class="breadcrumbs-cvr">
            <span><a href="/incidents/view-steps">Incident Details</a></span>
            <span>></span>
            <span class="active">Resolutions</span>
        </div>
        <p>Resolutions</p>
        <div class="outer-box">
            <div class="card2">
                <label>{{incid}}</label>
              </div>
            <div class="inner-box">
                <div class="Tags400BadRequest"><span
                        style="color: black; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Tags:
                    </span><span
                        style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{taglist}}</span>
                </div>
                <p></p>
                <p></p>
                <p></p>
                <table>
                    <thead>
                        <tr>
                            <th>Recommended Resolutions</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rw of resolutiondata">
                            <td>{{rw.resolution}}</td>
                            <td><button class="viewbtn" onclick="viewData(this)">View</button></td>
                        </tr>
                        <!-- <tr *ngif = "!resolutiondata">
                <td>Data 3</td>
                <td></td>
              </tr> -->
                    </tbody>
                </table>
                <div>
                    <p></p>
                    <div class="CreateResolutions"
                        style="color: black; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">
                        Create Resolutions</div>
                    <textarea rows="4" placeholder="Type resolution" [(ngModel)]="receivedData"
                        style="color: black; font-size: 16px; font-family: Inter;max-width:90%;"></textarea>
                    <div style="color: #000;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;">You can create new resolutions here. It will be connected with the above tag group and
                        saved.</div>
                </div>
                <div><span><button class="addbtn" (click)="addResolutions()">Add</button></span></div>
                <div *ngIf='isSaved' style="color: #b81414;
        font-family: Inter;
        font-size: 14px;"> Resolutions Saved</div>
            </div>

        </div>
    </div>
</div>