.main-element {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 100px;
    .card2 {
        // height: 60px;
        line-height: 30px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background: #282828;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 30px;
        // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
        border-bottom: none;
        font-style: bold;
        margin-top: 20px;
        margin-bottom: 30px;
        // margin-left: 70px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
      }
      .form-group {
        display: flex;
        margin-top: 15px;
        gap: 10px;
        justify-content: center;
        align-items: center;
      }
    
      .form-label {
        width: 200px;
        height: 30px;
        padding: 4px;
        color: #FFFFFF;
        font-family: montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        /* flex-shrink: 0; */
        background: #000000;
      }
    
      .form-control {
        width: 300px;
        // height: 37px;
        color: #656565;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        flex-shrink: 0;
        background: #FAFAFA;
        box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
      }
      .button-29 {
        margin-left: 40%;
        margin-top: 20px;
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #ff8e5a 0, #FD5E0F 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "Montserrat";
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        font-weight: 700;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
      }
      
      .button-29:focus {
        box-shadow: #ff8e5a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
      }
      
      .button-29:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
        transform: translateY(-2px);
      }
      
      .button-29:active {
        box-shadow: #ff8e5a 0 3px 7px inset;
        transform: translateY(2px);
      }

      .wrapper {
        overflow: hidden;
       // padding: 24px 0px;
        // background: linear-gradient(270deg,#e8807f,#e6c84f);
        // background: #ffffff;
        font-size: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        //border-top: 3px solid #ff5e10;
        //border-bottom: 3px solid #ff5e10;
    }
}

:host ::ng-deep {


  .mat-mdc-table {
         padding: 0px;
         box-shadow: none;
         cursor: pointer;
         border-collapse: separate;
         border-spacing: 0 7px;
         width: 85%;         
         background: #333333;
     }

     .mdc-data-table__cell {
       border-bottom-width: 1px; 
       border-bottom-style: solid #C0C0C070; 
       border-bottom: 1px solid #C0C0C070;
       font-family: Montserrat;
       font-style: normal;
       font-weight: 400;
       font-size: 14px;        
       color: #ffffff;
       text-align: center;
  }
 
 
     .mdc-data-table__header-cell {
         background: #000000 !important;//#676767 ;
         color: #fff;
         //border-right: 1px solid #fff;
         text-align: center;
         font-family: Montserrat;
         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 30px;
         
     }
 
    
 
    
     .mat-mdc-table tfoot,    
     .mat-mdc-footer-cell,
     .mat-mdc-row,
     .mat-mdc-footer-row {
         font-family: Montserrat;
         font-style: normal;
         font-weight: 400;
         font-size: 14px;        
         color: #ffffff;
        // border: none;
         padding: 10px;
         //border-bottom: 1px solid #C0C0C070;
     }
    }
