<header class="landing-page-header" data-aos="fade-zoom-in" data-aos-duration="1000" data-aos-delay="200">
    <div class="landing-page-container">
        <nav class="nav-bar" data-aos="fade-zoom-in" data-aos-duration="1000" data-aos-delay="100">
            <a href="#" class="logo-turbo">
                <img src="../../../assets/images/g10xLogo1.png" >
            </a>
            <div class="header-links" data-aos="fade-zoom-in" data-aos-duration="1000" data-aos-delay="100">

                <button class="btn login-btn" mat-button (click)="login()">Login</button>

                <!-- <a href="/sign-up" class="wrapper-link">
                <button class="btn sign-btn" mat-button>Sign up</button>
              </a> -->
            </div>
        </nav>

    </div>
</header>
