<section class="landing-page-header">
    <img src="../../../assets/images/landing-page-images/globe-upwards.svg" class="globe-top" data-aos="zoom-in-up"
        data-aos-duration="1000" data-aos-delay="100">
    <img src="../../../assets/images/landing-page-images/globe-cit.svg" class="side-globe" data-aos="fade-right"
        data-aos-duration="1000" data-aos-delay="100">
    <header data-aos="fade-zoom-in" data-aos-duration="1000" data-aos-delay="200">
        <nav class="nav-bar" data-aos="fade-zoom-in" data-aos-duration="1000" data-aos-delay="100">
            <a href="#" class="logo-turbo">
                <img src="../../../assets/images/landing-page-images/cit-logo.svg">
            </a>
            <div class="header-links" data-aos="fade-zoom-in" data-aos-duration="1000" data-aos-delay="100">
                <button class="btn login-btn" mat-button (click)="login()">Login</button>
            </div>
        </nav>
        <section>
            <div class="landing-page-banner">
                <div class="homepage-banner" data-aos="fade-right" data-aos-delay="200" data-aos-duration="600">
                    <h1 class="homepage-banner-heading">
                        <em> Continuous Incident Telemetry</em>
                    </h1>
                    <p class="homepage-banner-desc">Continuous Incident Telemetry is a crucial practice for incident
                        response teams to detect and
                        respond to site reliability and security incidents in real-time</p>
                </div>
            </div>
        </section>
    </header>
</section>
<!-- <img src="../../../assets/images/landing-page-images/section-image.svg" alt="" style="width: 100%; margin-top: -659px; position: relative;"> -->
<section class="card-section">
    <div class="feature-card">
        <label class="feature-label">Key Feature</label>
        <!-- Main card 1 -->
        <div class="container " data-aos="fade-right" data-aos-delay="200" data-aos-duration="600">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/telemetry-logo.png">
                            <label class="box-label">Telemetry Collection</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Real-time collection, monitoring, and analysis of production metrics, logs and traces.
                            </em>
                        </h2>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/real-time.png">
                            <label class="box-label">Real Time Analysis</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Incidents are analyzed in real-time by correlation of events, identifying anomalies
                                patterns
                            </em>
                        </h2>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/incident-re.png">
                            <label class="box-label">Incident Response</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Automated actions to block suspicious network traffic and isolate compromised systems
                                allow immediate response
                            </em>
                        </h2>
                    </div>
                </div>
                <!-- card 4 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/report-metrix.png">
                            <label class="box-label">Reporting and Metrics</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Improve incident resolution practices by identifying new failure indicators and making
                                informed decisions
                            </em>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/guided.png">
                            <label class="box-label">Guided Retrospective</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Facilitates SLO-based retrospective
                            </em>
                        </h2>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/incident-res-intergration.png">
                            <label class="box-label">Incident Response Integration</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Simplifies Incident documentation and workflow assimilation
                            </em>
                        </h2>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/kedb.png">
                            <label class="box-label">Building a KEDB</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Streaming incident resolution processes using historical data of failures across all
                                systems and application
                            </em>
                        </h2>
                    </div>
                </div>
                <!-- card 4 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
                    <div class="box">
                        <div class="box-header">
                            <img src="../../../assets/images/landing-page-images/AI.png">
                            <label class="box-label">AI-driven Self-Healing</label>

                        </div>
                        <!-- line -->
                        <div style="border: 1px solid;"></div>

                        <h2 class="box-content">
                            <em>
                                Uses machine learning algorithms to automate incident response, reducing reliance on
                                manual intervention and minimizing incident resolution times
                            </em>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="landing-page-footer">
    <div class="landing-page-container">
        <div class="footer-top">
            <a href="#" class="logo-turbo">
                <img src="../../../assets/images/landing-page-images/cit-logo.svg">
            </a>
            <!-- <div class="g10x-logo">
                <a href="https://g10x.com/" target="_blank" class="logo-ecast">
                    <img class="g10x-image" src="../../../assets/images/landing-page-images/g10xLogo2.png"
                        alt="g10x logo">
                </a>
            </div> -->
            <div style="display: block;">
                <h2 style="    font-family: Montserrat;
                font-weight: normal;
                font-size: 20px;
                line-height: 29px;
                color: #ffffff;">Connect With Us</h2>
                <ul class="social-links">
                    <li class="list-item">
                        <a class="link-item" href="https://www.linkedin.com/company/gxx/" target="_blank">
                            <img src="../../../assets/images/landing-page-images/linkedin.png" class="linkedin-logo">
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="link-item" href="https://www.instagram.com/_g10x.family/" target="_blank">
                            <img src="../../../assets/images/landing-page-images/instagram.png" class="instagram-logo">
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <p class="footer-text">Copyright © 2023 G10X | All Rights Reserved.</p>
</footer>