<div class="main-element">
    <div class="main-header">
        <div class="breadcrumbs-cvr">
            <span><a href="/users">Users</a></span>
            <span>></span>
            <span class="active">Add User</span>
        </div>
        <label>Add User</label>

        <div style="border: 1px solid #b8b8b8; border-top: none;">
            <div class="card2">

            </div>

            <div style="padding: 28px;">
                <div>


                    <form class="testplan-form" [formGroup]="createUser">
                        <div>
                            <div class="form-group">

                                <label class="form-label">Username</label>
                                <input matInput type="text" class="form-control" formControlName="username"
                                    name="username" required>

                            </div>
                            <div class="form-group">

                                <label class="form-label">Email:</label>
                                <input matInput type="text" class="form-control" formControlName="email"
                                    name="email" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                Please provide a valid email
              </div> -->
                            </div>
                            <div class="form-group">

                                <label class="form-label">Phone Number:</label>
                                <input matInput type="text" class="form-control" formControlName="phone"
                                    name="phone" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                Please provide a valid email
              </div> -->
                            </div>

                            <div class="form-group">

                                <label class="form-label">Password:</label>
                                <input matInput type="password" class="form-control" formControlName="passwordtxt"
                                    name="passwordtxt" required>

                            </div>
                            <div class="form-group">

                                <label class="form-label">Company:</label>
                                <input matInput type="text" class="form-control" formControlName="company"
                                    name="company" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                Please provide a valid email
              </div> -->
                            </div>
                            <div class="form-group">

                                <label class="form-label">Created by:</label>
                                <input matInput type="text" class="form-control" formControlName="createdby"
                                    name="createdby" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                  Please provide a valid email
                </div> -->
                            </div>
                            <div class="form-group">

                                <label class="form-label">Created on:</label>
                                <input matInput type="text" class="form-control" formControlName="createdon"
                                    name="createdon" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
              Please provide a valid email
            </div> -->
                            </div>


                        </div>
                        <br>
                        <div style="display: flex; gap: 10px;">
                            <div class="form-group">

                                <!-- <label class="form-label">Role:</label> -->
                                <!-- <input matInput type="text" class="form-control" formControlName="role" name="role"
                                    required> -->
                                <select [(ngModel)]="selectedRole" class="form-control"
                                    [ngModelOptions]="{standalone: true}">
                                    <option [value]="undefined">Role</option>
                                    <option *ngFor="let item of roleList" [value]="item.roleName">{{ item.roleName
                                        }}</option>
                                </select>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                        Please provide a valid email
                      </div> -->
                            </div>
                            
                            <div class="form-group">

                                <!-- <label class="form-label">Assigned Group:</label> -->
                                <!-- <input matInput type="text" class="form-control" formControlName="assignedgroup" name="assignedgroup"
                                required> -->
                                <select [(ngModel)]="selectedGroup" class="form-control"
                                    [ngModelOptions]="{standalone: true}">
                                    <option [value]="undefined">Assigned Group</option>
                                    <option *ngFor="let item of assignGrpList" [value]="item.groupName">{{ item.groupName
                                        }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="customize" name="customize"  (change)="eventCheck($event)">
                                <label class="form-checkbox" for="customize"> Customize Role</label><br>
                            </div>
                            <div>
                                <button class="add-btn" (click)="addGroupRo()">Add</button>
                            </div>
                            <div >
                                <mat-selection-list [multiple]="true"[(ngModel)]="userPermissions" [ngModelOptions]="{standalone: true}" (selectionChange)="onSelectionChange($event)">
                                    <mat-list-option *ngFor="let item of userPermissions" [value]="item">                                      
                                      {{ item }}
                                    </mat-list-option>
                                  </mat-selection-list>
                            </div>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <th>Sl.no</th>
                                    <th>Roles</th>
                                    <th>Groups</th>
                                    <th>Customized Privileges</th>
                                    <th>Delete</th>
                                    <!-- Add more headers based on your API response structure -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData">
                                    <td>{{ row.column4 }}</td>
                                    <td>{{ row.column1 }}</td>
                                    <td>{{ row.column2 }}</td>
                                    <td>{{ row.column3 }}</td>
                                    <td><a class="material-icons" (click)="deleteItem(row.column4)">delete</a></td>
                                    <!-- Add more cells based on your API response structure -->
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class="button-29" (click)="addUser()">Add User</button>
                        </div>
                    </form>

                </div>




                <br>
            </div>

        </div>

        <div>
            <!-- <i class="fa fa-refresh fa-xs" style="cursor: pointer;" (click)="refresh()"></i> -->
        </div>

    </div>
</div>