.main-element {
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 100px;

  .breadcrumbs-cvr {
    padding: 5px 0px;
    // margin-left: 70px;

    span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 31px;
      display: inline-block;
      align-items: center;
      cursor: pointer;
      color: #999FA9;
      padding: 0px 5px 0px 0px;

      a {
        text-decoration: none;
        color: #999FA9 !important;
      }

      a:hover {
        text-decoration: none;
        color: #fd5e00 !important;
      }

    }

    .active {
      color: #fd5e00 !important;
    }
  }
}

.card2 {
  // height: 60px;
  line-height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #676767;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
  border-bottom: none;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  // margin-left: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #fff;
}

.form-group {
  display: flex;
  gap: 10px;
  align-items: baseline;
  // justify-content: space-evenly;
}

.testplan-form {
  display: flex;
  //justify-content: space-around;
}

.form-label {
  width: 200px;
  height: 30px;
  padding: 4px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* flex-shrink: 0; */
  background: #D9D9D9;
}
.form-checkbox {
 
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
 
  /* flex-shrink: 0; */
 
}
.file-Upload{
  width: 300px;
  // height: 37px;
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
}
.form-control {
  width: 300px;
  // height: 37px;
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  background: #FAFAFA;
  box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
}
.form-error {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button-29 {
  margin-left: 40%;
  margin-top: 20px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff8e5a 0, #FD5E0F 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat";
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #ff8e5a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #ff8e5a 0 3px 7px inset;
  transform: translateY(2px);
}

.add-btn {
  margin-left: 1%;
  // margin-top: 20px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff8e5a 0, #FD5E0F 100%);
  border: 0;
  // border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat";
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.add-btn:focus {
  box-shadow: #ff8e5a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
}

.add-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff8e5a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.add-btn:active {
  box-shadow: #ff8e5a 0 3px 7px inset;
  transform: translateY(2px);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 200px; /* Adjust the value based on your needs */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td {
  white-space: normal; /* This allows text to wrap within the cell */
}

.role-table {
  border: 1px solid #C8C8C8;
  background: #FAFAFA;
  padding: 11px 11px
  // width: 715px;
  /* height: 373.892px; */
  // display: flex;
  // gap: 10px;
  // align-items: center;
}
.custm-role-label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /* line-height: 21px; */
  margin-left: 8px;
  color: #474a4e;
  margin-top: 10px;
}

:host ::ng-deep {
  mat-selection-list.mat-mdc-selection-list.mat-mdc-list-base.mdc-list {
    border: 1px solid #C8C8C8;
    background: #FFF;
    width: 451px;
    height: 160px;
    overflow-y: scroll;
    margin-left: 50px;
  }
  .mat-mdc-list-option .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mat-mdc-list-option .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mat-mdc-list-option .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #018786;
    background-color: #018786;
  }
  
}