<div class="main-element">
    <div class="main-header">
        <div class="breadcrumbs-cvr">
            <span><a href="/users">Users</a></span>
            <span>></span>
            <span class="active">{{pageTitle}}</span>
        </div>
        <label style="color:#FFFFFF">{{pageTitle}}</label>

        <div style="border: 1px solid #b8b8b8; background-color: #333333;">
            <div class="card2">

            </div>

            <div style="padding: 28px;">
                <div>


                    <form class="testplan-form" [formGroup]="createUser">
                        <div>
                            <div class="form-group">

                                <label class="form-label">Username</label>
                                <input matInput type="text" class="form-control" formControlName="username"
                                    name="username" required>

                            </div>
                            <div class="form-group">

                                <label class="form-label">Email:</label>
                                <input matInput type="text" class="form-control" formControlName="email" name="email"
                                    required>
                                <div class="text-danger input-feedback form-error"
                                    *ngIf="f['email'].errors && f['email'].touched">
                                    Please provide a valid email
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="form-label">Phone Number:</label>
                                <input matInput type="text" class="form-control" formControlName="phone" name="phone"
                                    required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                Please provide a valid email
              </div> -->
                            </div>

                            <div class="form-group">

                                <label class="form-label">Password:</label>
                                <input matInput type="password" class="form-control" formControlName="passwordtxt"
                                    name="passwordtxt" required>

                            </div>
                            <div class="form-group">

                                <label class="form-label">Company:</label>
                                <input matInput type="text" class="form-control" formControlName="company"
                                    name="company" required>
                               
                            </div>
                            <div class="form-group">

                                <label class="form-label">Created by:</label>
                                <input matInput type="text" class="form-control" [readonly]="isEditMode"
                                    formControlName="createdby" name="createdby" required>
                               
                            </div>
                            <div class="form-group">

                                <label class="form-label">Created on:</label>
                                <input matInput type="text" class="form-control" formControlName="createdon"
                                    [readonly]="isEditMode" name="createdon" required>
                               
                            </div>

                            <div>
                                <label class="form-label">Add Roles & Groups:</label>
                                <div class="role-table">
                                    <div style="display: flex; gap: 10px;     margin-top: 13px;
                                        margin-left: 10px;">
                                        <div class="form-group">
                                            <!-- 
                                                <select [(ngModel)]="selectedRole" class="form-control"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option [value]="undefined">Role</option>
                                                    <option *ngFor="let item of roleList" [value]="item.roleName">{{
                                                        item.roleName
                                                        }}</option>
                                                </select> -->

                                            <mat-select [(ngModel)]="selectedRole" class="form-control"
                                                placeholder="Select Role" [ngModelOptions]="{standalone: true}">

                                                <mat-option *ngFor="let item of roleList" [value]="item.roleName">{{
                                                    item.roleName
                                                    }}
                                                </mat-option>
                                            </mat-select>

                                        </div>

                                        <div class="form-group">
                                            <!-- <select [(ngModel)]="selectedGroup" class="form-control" (change)="schedule()"
                                                    [ngModelOptions]="{standalone: true}">
                                                    <option [value]="undefined">Assigned Group</option>
                                                    <option *ngFor="let item of assignGrpList" [value]="item.groupName">{{
                                                        item.groupName
                                                        }}</option>
                                                </select> -->
                                            <mat-select [(ngModel)]="selectedGroup" class="form-control"
                                                (selectionChange)="schedule()" placeholder="Select Group"
                                                [ngModelOptions]="{standalone: true}">

                                                <mat-option *ngFor="let item of assignGrpList" [value]="item.groupName">
                                                    {{
                                                    item.groupName
                                                    }}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>

                                    <div *ngIf="customizedRole" class="form-group" style="margin-left: 10px;">
                                        <label class="custm-role-label">
                                            <input type="checkbox" id="customize" name="customize" style="    width: 20px;
                                                height: 18px;" [(ngModel)]="isChecked"
                                                [ngModelOptions]="{standalone: true}" (change)="eventCheck($event)">
                                            Customize Role
                                        </label>

                                    </div>
                                    <div *ngIf="selectionEvent">
                                        <mat-selection-list [multiple]="true" [(ngModel)]="userPermissions"
                                            [ngModelOptions]="{standalone: true}"
                                            (selectionChange)="onSelectionChange($event)">
                                            <mat-list-option *ngFor="let item of privilegeList" [value]="item.id">
                                                {{ item.name }}
                                            </mat-list-option>
                                        </mat-selection-list>
                                    </div>
                                    <div style="padding: 30px 0px;">
                                        <button class="add-btn" (click)="addGroupRo()">Add</button>
                                    </div>

                                    <table>
                                        <colgroup>
                                            <col span="1" style="width: 5%;">
                                            <col span="1" style="width: 5%;">
                                            <col span="1" style="width: 5%;">
                                            <col span="1" style="width: 80%;">
                                            <col span="1" style="width: 5%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Sl.no</th>
                                                <th>Roles</th>
                                                <th>Groups</th>
                                                <th>Customized Privileges</th>
                                                <th>Delete</th>
                                                <!-- Add more headers based on your API response structure -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of tableData">
                                                <td>{{ row.column4 }}</td>
                                                <td>{{ row.column1 }}</td>
                                                <td>{{ row.column2 }}</td>
                                                <td data-placement="top" title="{{row.column3 }}">{{ row.column3 }}</td>
                                                <!-- <td><a class="material-icons"
                                                        (click)="deleteItem(row.column4)">delete</a>
                                                </td> -->
                                                <td>
                                                    <img src="../../../../assets/images/delete-24.png" (click)="deleteItem(row.column4)">
                                                </td>
                                                <!-- Add more cells based on your API response structure -->
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </div>

                            <div>
                                <button class="button-29" (click)="addUser()">{{pageTitle}}</button>
                            </div>
                        </div>
                        <br>


                        <div style="position: absolute;
                       top: -13px;
                            left: 567px;
                            bottom: 369px;">
                            <label class="form-label">Upload Photo:</label>
                            <input type="file" class="file-Upload" (change)="onFileSelected($event)" #fileUpload>
                            <img [src]="fileName" height="200">
                            <div>
                                <button class="file-Upload" (click)="deleteUsrPhoto()">Remove uploaded
                                    Picture</button>
                            </div>

                        </div>
                    </form>

                </div>




                <br>
            </div>

        </div>

        <div>
            <!-- <i class="fa fa-refresh fa-xs" style="cursor: pointer;" (click)="refresh()"></i> -->
        </div>

    </div>
</div>