<div class="main-element">
    <div class="main-header">
        <label>Add User</label>

        <div style="border: 1px solid #b8b8b8; border-top: none;">
            <div class="card2">

            </div>

            <div style="padding: 28px;">
                <div>


                    <form class="testplan-form" [formGroup]="createUser">
                        <div>
                            <div class="form-group">

                                <label class="form-label">Username</label>
                                <input matInput type="text" class="form-control" formControlName="username"
                                    name="username" required>

                            </div>
                            <div class="form-group">

                                <label class="form-label">Role:</label>
                                <!-- <input matInput type="text" class="form-control" formControlName="role" name="role"
                                    required> -->
                                <select  [(ngModel)]="selectedState" class="form-control" [ngModelOptions]="{standalone: true}">
                        <option [value]="undefined">{{defaultSelection}}</option>
                        <option *ngFor="let item of priorityList" [value]="item.roleName">{{ item.roleName }}</option>
                      </select>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                        Please provide a valid email
                      </div> -->
                            </div>

                            <div class="form-group">

                                <label class="form-label">Application Name:</label>
                                <input matInput type="text" class="form-control" formControlName="applicationname"
                                    name="applicationname" required>

                            </div>
                            <div class="form-group">

                                <label class="form-label">Company:</label>
                                <input matInput type="text" class="form-control" formControlName="company"
                                    name="company" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                Please provide a valid email
              </div> -->
                            </div>
                            <div class="form-group">

                                <label class="form-label">Created by:</label>
                                <input matInput type="text" class="form-control" formControlName="createdby"
                                    name="createdby" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
                  Please provide a valid email
                </div> -->
                            </div>
                            <div class="form-group">

                                <label class="form-label">Created on:</label>
                                <input matInput type="text" class="form-control" formControlName="createdon"
                                    name="createdon" required>
                                <!-- <div class="text-danger input-feedback" *ngIf="f['email'].errors && f['email'].touched">
              Please provide a valid email
            </div> -->
                            </div>
                            <div class="form-group">
        
                                <label class="form-label">Assigned Group:</label>
                                <!-- <input matInput type="text" class="form-control" formControlName="assignedgroup" name="assignedgroup"
                                required> -->
                                <select [(ngModel)]="selectedGroup" class="form-control" [ngModelOptions]="{standalone: true}">
                                  <option [value]="undefined">{{defaultSelection}}</option>
                                  <option *ngFor="let item of assignGrpList" [value]="item.groupId">{{ item.groupName }}</option>
                                </select>
                              </div>
                            <div>
                                <button  class="button-29" (click)="addUser()">Add User</button>
                            </div>
                        </div>

                        <!-- <div> -->
                        <!-- </div> -->


                    </form>

                </div>




                <br>
            </div>

        </div>

        <div>
            <!-- <i class="fa fa-refresh fa-xs" style="cursor: pointer;" (click)="refresh()"></i> -->
        </div>

    </div>
</div>