<div class="main-element">
  <div class="main-header">
    <label>Incident details</label>
    <div style="border: 1px solid #b8b8b8; border-top: none;" *ngFor="let incident of incidentDetails">
      <div class="card2">
        <label>{{incident.number}}</label>
      </div>
      <div>
        <table id="customers">
          <tr>
            <th>state</th>
            <th>priority</th>
            <th>assigned to</th>
            <th>assigned group</th>
            <th>due date</th>
          </tr>

          <tr>
            <td>{{incident.state}}</td>
            <td>{{incident.priority}}</td>
            <td>{{incident.assignedTo}}</td>
            <td>{{incident.assignedgroup}}</td>
            <td>{{incident.due}}</td>
          </tr>



        </table>
        <br>
        <table id="customers">
          <tr>
            <th>Opened date</th>
            <th>Opened by</th>
            <th>Resolved Date</th>
            <th>SLA</th>
            <th>SLA Lapse</th>
          </tr>

          <tr>
            <td>opened</td>
            <td>high</td>
            <td>alwin</td>
            <td>alwin</td>
            <td>alwin</td>
          </tr>



        </table>
        <br>
        <div >

        </div>
       
      </div>

    </div>

  </div>



</div>