.main-element {
  // margin-left: 80px;
  // margin-right: 20px;
  margin-top: 100px;

  // .main-header {
  //     margin-top: 80px;
  //     height: 30px;
  //     font-style: bold;
  //     font-family: Montserrat;
  //     font-style: normal;
  //     font-weight: 700;
  //     font-size: 30px;
  //     line-height: 42px;
  //     color: #344054;
  // }
}

.card2 {
  // height: 60px;
  line-height: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #282828;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  // box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.13);
  border-bottom: none;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  // margin-left: 70px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
}

#bottom {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 35px;
}

td {
  font-weight: 400;
}

#bottom td,
#bottom th {
  border: 1px solid #DADADA;
  padding: 8px;
  // border-bottom: 1px solid #e9e9ef;
  // border-top: 1px solid #e9e9ef;
  background: #fafbfc;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  width: 10%;
  font-weight: 500;
  text-align: center;
  font-size: 17px;
  padding: 16px 0 16px 10px;
  line-height: 18px;
  color: #344054;
}

#bottom th:first-child {
  border-left: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-right: 30px;
  padding-left: 45px;
}

#bottom th:last-child {
  border-right: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


#bottom th {
  padding-top: 12px;
  border-top: none;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D9D9D9;
  color: black;
}

.tag-label {
  width: 175px;
  height: 30px;
  padding: 4px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  // font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #000000;
}




    .search-input {
      width: 175px;
      height: 30px;
      flex-shrink: 0;
      border: 1px solid #E2E2E2;
      background: #FFF;
      color: #7B7B7B;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  

  .add-tag-btn {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Montserrat";
    // height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    max-width: 36%;
    height: 32px;
    margin-left: 3%;

    color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
   
  }
  .add-tag-btn:focus {
    box-shadow: #FD5E0F 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
  }
  
  .add-tag-btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .add-tag-btn:active {
    box-shadow: #FD5E0F 0 3px 7px inset;
    transform: translateY(2px);
  }


.tags-bottom {
  // border: 1px solid #BDBDBD;
  background: #FBFBFB;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}

.tag-card {
  align-items: center;
  background: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
  //background-image: radial-gradient(100% 100% at 100% 0, #372e2a 0, #a05631 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat";
  height: 28px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;   
  position: relative;
  text-align: left;   
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;   
  font-size: 14px;
}

.open {
  color:
    #27CB4B !important;
}

.closed {
  color: red;
}

.moderate {
  color: orange;
}

.normal {
  color: green;
}

// .recommended-reso-btn {
//   background: #fff;
//   border: 2px solid #1a73e8;
//   box-sizing: border-box;
//   border-radius: 5px;
//   color: #1a73e8;
//   // font-family: ProximaNova;
//   //font-weight: 700;
//   width: 37%;
//   height: 38px;
//   /* margin-left: -7%; */
//   line-height: 19px;
//   /* height: 35px; */
//   margin-left: 30%;
//   //color: #FFF;
//   font-family: Montserrat;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
// }

.form-group {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.form-label {
  width: 175px;
  height: 30px;
  padding: 4px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* flex-shrink: 0; */
  background: #000000;
}

.form-control {
  width: 230px;
  height: 37px;
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  background: #FAFAFA;
  box-shadow: -2px -2px 0px 0px rgba(0, 0, 0, 0.25);
}
.overlay {
  font-family: Montserrat;
  position: fixed;
  top: -20px;
  bottom: -100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 99;

  .delete-popup {
    width: 40%;
    height: 250px;
    // margin-left: 30%;
    // margin-top: 6%;
    background: #fff;
    box-shadow: 1px 1px 15px #0000001a;
    border-radius: 15px;
  }

  .test-plan-popup {
    margin-left: 10%;

    .edit-test-label {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      margin-top: 30px;
      color: #474A4E;
    }
  }

  .delete-test-label {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    color: #474a4e
  }

  .execute-btn {
    background: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
    height: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
  }

  .cancel-btn {
    background: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    width: 130px;
    font-size: 18px;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #080808;
  }

}

.textarea-desc{
  height: 140px;   
  width: 230px;
  border: 1px solid #DADADA;
    background: #FFF;
    color: black;
    font-size: 16px;
    font-family: montserrat;
    border-radius: 5px;
}

.textarea-comments {

  padding: 8px;
  width: 450px;
  height: 140px;
  flex-shrink: 0; 
  border: 1px solid #DADADA;
  background: #FFF;
  color: black;
 font-size: 16px;
  font-family: Montserrat;
  margin: 5px;
  max-width: 450px; 
}

/* CSS */
.button-29 {
  margin-left: 45%;
  margin-top: 20px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat";
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #FD5E0F 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #FD5E0F 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #FD5E0F 0 3px 7px inset;
  transform: translateY(2px);
}

.btntagitem{   
  border: none;
  background: radial-gradient(100% 100% at 100% 0, #FD5E0F 0, #FD5E0F 100%);
}