<div class="main-element">
    <div class="main-header">
        <div style="display: flex; justify-content: space-between">
            <label style="color:#FFFFFF">Users</label>
            
            <button class="create-new-btn" (click)="addUserPopUp()">Add Users</button>
            
        </div>
        <div class="search-container" >
            <i class="fa-magnifying-glass fa-solid" style="color: #14161a; margin-left: 10px;font-size: 19px;"></i>
            <input type="text" class="search-input" placeholder="Search" />

        </div>
        <div style=" background: #333333;">
            <!-- <div class="card2"> -->
            <mat-table #table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>


                    <mat-cell *matCellDef="let element">
                        <div class="avatar">
                            {{ getInitials(element.name) }}
                        </div>


                        {{element.name}}
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="Number">
                    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.phoneNumber}}
                    </mat-cell>
                </ng-container>

                <!-- state Column -->
                <ng-container matColumnDef="State">
                    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.state == 'active'">
                            <label class="statusLabel" [ngClass]="element.state">Active</label>
                        </span>
                        <span *ngIf="element.state == 'inactive'">
                            <label class="statusLabel" [ngClass]="element.state">Inactive</label>
                        </span>
                    </mat-cell>

                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;">
                        <ng-container>
                            <button class="edit-button" (click)="userEditPop(i)">Edit                              
                                <img src="../../../../../assets/images/edit-icon.png">                                
                            </button>
                            
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!-- </div> -->
        </div>
    </div>
       <div class="overlay" *ngIf="userEditPopup">
      <div class="popup">
        <div class="users-popup-details">
          <label class="new-user-label">Edit user</label>
          <div class="users-close-icon">
            <mat-icon (click)="editCancelButton()">close</mat-icon>
          </div>
          <br>
          <br>
          <form [formGroup]="editUsersDetailsForm" >
            <mat-form-field>
              <mat-label>User name</mat-label>
              <input matInput type="text" formControlName="editusername" required>
              <mat-error *ngIf="editUsersDetailsForm.get('editusername')">
                User name is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email ID</mat-label>
              <input matInput type="text" formControlName="editemailid" required>
              <mat-error *ngIf="editUsersDetailsForm.get('editemailid')">
                Email ID is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field >
              <mat-select placeholder="User role" formControlName="edituserrole" required>
                <div *ngFor="let user of userList">
                    <mat-option [value]="user.role">{{user.role}}</mat-option>
                </div>
                
                <!-- <mat-option [value]="'User'">User</mat-option> -->
              </mat-select>
              <mat-error *ngIf="editUsersDetailsForm.get('edituserrole')">
                User role is required.
              </mat-error>
            </mat-form-field>
            <div>
              <button  class="user-save-button">Save</button>
              <button class="users-cancel-button" (click)="editCancelButton()">Cancel</button>
            </div>
          </form>
        </div>

      </div>
    </div>
</div>